@using System.ComponentModel.DataAnnotations
@using System.Net.Http.Headers
@using WingetNexus.Shared.Helpers

@attribute [Authorize]
@inject IAntiforgeryHttpClientFactory httpClientFactory

@inject MudBlazor.ISnackbar snackBar



@*     <MudTextField T="string" @bind-Value="PackageModel.Version"
                  Label="Version" HelperText="Fill with version number" Required="true" />

    <MudTextField T="string" @bind-Value="PackageModel.ShortDescription" Label="Short description" Required="true" RequiredError="Description is mandatory!" /> *@

<MudPaper Class="mud-width-full ma-4 pa-4">

    @if (InstallerModel != null)
    {
        <MudTabs Elevation
        ="2" Rounded
        ="true" ApplyEffectsToContainer
        ="true" PanelClass
        ="pa-6" @bind-ActivePanelIndex="activeIndex">
            <ChildContent>
                <MudTabPanel Text="Upload a file">
                    <MudFileUpload T="IBrowserFile" AppendMultipleFiles="false" FilesChanged="UploadFiles" Required="true">
                        <ButtonTemplate>
                            <MudButton HtmlTag="label"
                            Variant="Variant.Filled"
                            Color="Color.Primary"
                            StartIcon="@Icons.Material.Filled.AttachFile"
                            for="@context">
                                Upload binaries
                            </MudButton>
                        </ButtonTemplate>
                    </MudFileUpload>

                    @if (files != null && files.Count > 0)
                    {
                        <MudList>
                            @foreach (var file in files)
                            {
                                <MudListItem Icon="@Icons.Material.Filled.AttachFile" @key="@file">
                                    @file.Name <code>@file.Size bytes</code>
                                </MudListItem>
                                @* TODO: remove file *@
                            }
                        </MudList>
                    }
                </MudTabPanel>

                <MudTabPanel Text="Give a URL" >
                    <div class="d-flex">
                        <MudTextField T="string" @bind-Value="InstallerModel.InstallerPath"
                        Label="URL to installer" HelperText="Fill with url to download installer" Required="true" />
                        <MudTextField T="string" @bind-Value="InstallerModel.InstallerSha256"
                        Label="Setup file Checksum" HelperText="Fill with checksum os the setup file" Required="true" />

                    </div>
                </MudTabPanel>

            </ChildContent>
        </MudTabs>



        @* <MudSwitch Label="User/Machine scope" /> *@

        <div class="d-flex mt-4">
            <MudRadioGroup T="string" Required="true" RequiredError="Scope is mandatory!"
                       @bind-SelectedOption="InstallerModel.Scope" For="@(() => InstallerModel.Scope)">
                <MudRadio Option="@("user")">User</MudRadio>
                <MudRadio Option="@("machine")">Machine</MudRadio>
            </MudRadioGroup>
        </div>



        <div class="d-flex align-center justify-space-between">
            <MudSelect T="string" Required="true" RequiredError="Type is mandatory!"
                   Label="Installer type" @bind-Value = "selectedValue"> 
                   @* ValueChanged="onValueChanged"> *@
                <MudSelectItem Value="@("msix")">msix</MudSelectItem>
                <MudSelectItem Value="@("msi")">msi</MudSelectItem>
                <MudSelectItem Value="@("zip")">zip</MudSelectItem>
                <MudSelectItem Value="@("appx")">appx</MudSelectItem>
                <MudSelectItem Value="@("exe")">exe</MudSelectItem>
                @* <MudSelectItem Value="@("inno")">inno</MudSelectItem>
            <MudSelectItem Value="@("cab")">cab</MudSelectItem>
            <MudSelectItem Value="@("pwa")">Progressive web app</MudSelectItem>
            <MudSelectItem Value="@("nullsoft")">nullsoft</MudSelectItem>
            <MudSelectItem Value="@("msstore")">MS Store</MudSelectItem> *@
            </MudSelect>
            <MudTextField @bind-Value="relativeFilePath" Label="Executable file path" Variant="Variant.Outlined" Margin="Margin.Dense" Disabled="CheckInstallerType" />
            <MudTextField @bind-Value="shortcutName" Label="Shortcut name" Variant="Variant.Outlined" Margin="Margin.Dense" Disabled="CheckInstallerType" />
        </div>

        <div class="d-flex mt-4">
            <MudRadioGroup T="string" Required="true" RequiredError="Architecture is mandatory!"
                       @bind-SelectedOption="InstallerModel.Architecture" For="@(() => InstallerModel.Architecture)">
                <MudRadio Option="@("x86")">x86</MudRadio>
                <MudRadio Option="@("x64")">x64</MudRadio>
                <MudRadio Option="@("ARM")">ARM</MudRadio>
                <MudRadio Option="@("ARM64")">ARM 64</MudRadio>
            </MudRadioGroup>
        </div>

        <div class="d-flex mt-4">
            <MudSwitch T="bool" Label="Silent parameter" @bind-Value="isSilentVisible" />
            <MudTextField T="string" Label="Silent parameter" Variant="Variant.Outlined" @bind-Value="silentParameter" 
                Margin="Margin.Dense" Disabled="!isSilentVisible" Required="isSilentVisible" />
        </div>
        <div class="d-flex mt-4">
            <MudSwitch T="bool" Label="Install location" @bind-Value="isLocationVisible" />
            <MudTextField T="string" Label="Install location" Variant="Variant.Outlined" @bind-Value="installLocation"
                Margin="Margin.Dense" Disabled="!isLocationVisible" Required="isLocationVisible" />
        </div>
        <div class="d-flex mt-4">
            <MudSwitch T="bool" Label="Upgrade code" @bind-Value="isUpgradeVisible" />
            <MudTextField T="string" Label="Upgrade code" Variant="Variant.Outlined" @bind-Value="upgradeCode"
                Margin="Margin.Dense" Disabled="!isUpgradeVisible" Required="isUpgradeVisible" />
        </div>
        <div class="d-flex mt-4">
            <MudSwitch T="bool" Label="Log files location" @bind-Value="isLogpathVisible" />
            <MudTextField T="string" Label="Log files location" Variant="Variant.Outlined" @bind-Value="logFilesLocation"
                Margin="Margin.Dense" Disabled="!isLogpathVisible" Required="isLogpathVisible" />
        </div>
        <div class="d-flex mt-4">
            <MudSwitch T="bool" Label="Is silent progress" @bind-Value="isSilentProgressVisible" />
        </div>
        <div class="d-flex mt-4">
            <MudSwitch T="bool" Label="Is interactive" @bind-Value="isInteractiveVisible" />
        </div>
        <div class="d-flex mt-4">
            <MudSwitch T="bool" Label="Custom" @bind-Value="isCustomVisible" />
            <MudTextField T="string" Label="Custom" Variant="Variant.Outlined" @bind-Value="customValue"
                          Margin="Margin.Dense" Disabled="!isCustomVisible" Required="isCustomVisible" />
        </div>

            @*
        new InstallerSwitch() { Parameter="Silent", Value="True" },
        new InstallerSwitch() { Parameter="InstallLocation", Value="" },
        new InstallerSwitch() { Parameter="SilentProgress", Value="True" },
        new InstallerSwitch() { Parameter="Interactive", Value="False" },
        new InstallerSwitch() { Parameter="Upgrade", Value="False" },
        new InstallerSwitch() { Parameter="Logfile", Value="" },
        new InstallerSwitch() { Parameter="Custom", Value="" }
                *@
        
        }
    
</MudPaper>
